<div class="col s3 m12 l3 left">
    <span class="titlemenu">Global ImasT</span>
    <div id='cssmenu'>

        <ul>
            {% if active == "que_es_global" %}
            <li class="active"><a class="waves-effect waves-light" href='{{ path("globalimast_que_es_global") }}'><span>¿Qué es Global?</span></a></li>
            {% else %}
                <li ><a class="waves-effect waves-light" href='{{ path("globalimast_que_es_global") }}'><span>¿Qué es Global?</span></a></li>

            {% endif %}
            <li class='has-sub' id="edicion"><a href='#'><span>Ediciones anteriores</span></a>
                <ul>
                    {% if active == "2013" %}
                        <li class="active"><a class="waves-effect waves-light edicion" href='{{ path("globalimast_edicionanterior", {"anio": 2013}) }}'><span>2013</span></a></li>
                    {% else %}
                        <li><a class="waves-effect waves-light edicion" href='{{ path("globalimast_edicionanterior", {"anio": 2013}) }}'><span>2013</span></a></li>
                    {% endif %}
                    {% if active == "2014" %}
                        <li class="active"><a class="waves-effect waves-light edicion" href='{{ path("globalimast_edicionanterior", {"anio": 2014}) }}'><span>2014</span></a></li>
                    {% else %}
                        <li><a class="waves-effect waves-light edicion" href='{{ path("globalimast_edicionanterior", {"anio": 2014}) }}'><span>2014</span></a></li>
                    {% endif %}
                    {% if active == "2015" %}
                        <li class="active"><a class="waves-effect waves-light edicion" href='{{ path("globalimast_edicionanterior", {"anio": 2015}) }}'><span>2015</span></a></li>
                    {% else %}
                        <li><a class="waves-effect waves-light edicion" href='{{ path("globalimast_edicionanterior", {"anio": 2015}) }}'><span>2015</span></a></li>
                    {% endif %}
                </ul>
            </li>

            {% if active == "noticiasglobal" %}
            <li class="active" ><a class="waves-effect waves-light" href='{{ path("globalimast_noticiasglobal", {"owner": "global-imast"}) }}'><span>Noticias</span></a></li>
            {% else %}
                <li><a class="waves-effect waves-light" href='{{ path("globalimast_noticiasglobal",{"owner": "global-imast"}) }}'><span>Noticias</span></a></li>
            {% endif %}
            {% if active == "global2016" %}
                <li class="active"><a class="waves-effect waves-light" href='{{ path("globalimast_global2016") }}'><span>Global 2016</span></a></li>
            {% else %}
                <li><a class="waves-effect waves-light" href='{{ path("globalimast_global2016") }}'><span>Global 2016</span></a></li>

            {% endif %}
            <li class='has-sub'><a href='#'><span>Colaboradores</span></a>
                <ul>
                    {% for colaborador in colaboradores %}
                        <li><a class="waves-effect waves-light" href='{{ path("globalimast_colaborador", {"slug": colaborador.slug}) }}'><span>{{ colaborador.name }}</span></a></li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
    </div>

</div>
