
                <!--breadcrumbs start-->
                <div id="breadcrumbs-wrapper" class="grey lighten-3">

                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <h5 class="breadcrumbs-title">Ecosistema</h5>
                                <ol class="breadcrumb">
                                    <li><a href="{{ path("dashboard") }}">Panel de Administraci&oacute;n</a>
                                    </li>
                                    <li><a href="#">P&aacute;ginas</a>
                                    </li>
                                    <li class="active">Ecosistema</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs end-->


                <!--start container-->
                <div class="container">

                    {% if entity is not defined %}

                    <p class="caption">Oppss! Aún no haz creado la p&aacute;gina Ecosistema. Hazlo r&aacute;pido  <a class="btn waves-effect waves-light red darken-4 action" href="#" url="{{ path('_ecosistema_new') }}"><i class="mdi-content-add"></i> Crear</a></p>


                    {% else %}
                        <div class="section">
                            <a class="btn waves-effect waves-light red darken-4 right action" href="#" url="{{ path('_ecosistema_edit', {'id': entity.id}) }}"><i class="mdi-content-backspace"></i> Modificar</a>
                        </div>
                        <div class="section">
                            <h5>Titulo</h5>
                            <p class="text-accent-1">{{ entity.titulo }}</p>
                        </div>
                        <div class="row">
                            <div class="col s8 left">
                                <h5>Foto</h5>
                                <img class="responsive-img materialboxed" src="{{ asset(entity.getWebPath) }}">
                            </div>
                            <div class="col s4">
                                <h5>Video</h5>
                                <div class="video-container">
                                    {{ entity.urlvideo | raw }}
                                </div>
                            </div>

                        </div>
                        <div class="section">
                            <h5>Texto</h5>
                            <p>{{ entity.texto | raw }}</p>
                        </div>

                    {% endif %}

                    <div class="divider"></div>
                </div>
<script>
    $('.materialboxed').materialbox();
    $(".action").on("click", function(e){
        $('.preloader-wrapper').addClass('active');
        var url = $(this).attr("url");
        $("#main-wrapper").load(url,function() {
            $('.preloader-wrapper').removeClass('active');
        });

    })
</script>