
     <div id="breadcrumbs-wrapper" class="grey lighten-3">

         <div class="container">
             <div class="row">
                 <div class="col s12 m12 l12">
                     <h5 class="breadcrumbs-title">Ver Video</h5>
                     <ol class="breadcrumb">
                         <li><a href="{{ path("dashboard") }}">Panel de Administraci&oacute;n</a>
                         </li>
                         <li><a href="{{ path("_videos") }}">Administrar Videos</a>
                         </li>
                         <li class="active">Ver Video</li>
                     </ol>
                 </div>
             </div>
         </div>
     </div>

     <div class="container">
         <p><a class="btn waves-effect waves-light indigo action" href="#" url="{{ path("_videos_new") }}">Registrar</a>
             <a class="waves-effect waves-light btn action" href="#" url="{{ path("_videos") }}">Atr&aacute;s</a></p>

         <div class="col s12 m12 l6">
             <div class="card-panel">

                 <div class="video-container">
                     {{ entity.url | raw }}
                 </div>

             </div>
         </div>
     </div>
     <script>
         $(".action").on("click", function(e){
             $('.tooltipped').tooltip('remove');
             $('.preloader-wrapper').addClass('active');
             var url = $(this).attr("url");
             $("#main-wrapper").load(url,function() {
                 $('.preloader-wrapper').removeClass('active');
             });

         })




     </script>
