<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>{% block title %}Panel de Administraci&oacute;n | Egaussweb{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link href="{{asset('assets/vendor/materialize/css/materialize.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/backend/css/backend.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('assets/vendor/prism/prism.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('assets/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/vendor/jquery/datatable/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="blue-grey darken-4">
            <div class="nav-wrapper">

                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="{{ path('dashboard') }}" class="brand-logo darken-1"><img src="{{ asset('bundles/backend/images/eGauss_logo_head.png') }}" alt="logo"></a> <span class="logo-text">Admin Egaussweb</span></h1></li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <div class="preloader-wrapper">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="user-details blue-grey darken-2">
                    <div class="row">
                        <div class="col col s4 m4 l4">
                            <img src="{{ asset("bundles/backend/images/user_avatar.png") }}" alt="" class="circle responsive-img valign profile-image">
                        </div>
                        <div class="col col s8 m8 l8">
                            <ul id="profile-dropdown" class="dropdown-content">

                                <li><a href="{{ path('_admin_logout') }}"><i class="mdi-hardware-keyboard-tab load"></i> Salir</a>
                                </li>

                            </ul>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{ app.user.username }}<i class="mdi-navigation-arrow-drop-down right"></i></a>

                        </div>
                    </div>
                </li>


                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">

                        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-insert-comment"></i> Noticias</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a url="{{ path("_noticia", {"owner":"egauss-holding"}) }}" href="#" class="ajaxify">eGauss Holding</a>
                                    </li>
                                    <li><a url="{{ path("_noticia", {"owner":"egauss-innovation"}) }}" href="#" class="ajaxify">eGauss Innovation</a>
                                    </li>
                                    <li><a url="{{ path("_noticia", {"owner":"techtrans"}) }}" href="#" class="ajaxify">Techtrans</a>
                                    </li>
                                    <li><a url="{{ path("_noticia", {"owner":"h4dm"}) }}" href="#" class="ajaxify">H4DM</a>
                                    </li>
                                    <li><a url="{{ path("_noticia", {"owner":"fondos-de-inversion"}) }}" href="#" class="ajaxify">Fondos de Inversión</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-social-pages"></i> P&aacute;ginas</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a url="{{ path('_mision_vision') }}" href="#" class="ajaxify">Misi&oacute;n y Visi&oacute;n</a>
                                    </li>
                                    <li><a url="{{ path('_donde_estamos') }}" href="#" class="ajaxify">Donde estamos</a>
                                    </li>
                                    <li><a url="{{ path('_quienes_somos') }}" href="#" class="ajaxify" >Quienes somos</a>
                                    </li>
                                </ul>
                            </div>
                        </li>




                        <li class="bold"><a url="{{ path('_videos') }}" href="#" class="ajaxify collapsible-header  waves-effect waves-cyan"><i class="mdi-av-videocam"></i> Videos</a>

                        </li>
                        <li class="bold"><a url="{{ path('_banner') }}" href="#" class="ajaxify collapsible-header  waves-effect waves-cyan"><i class="mdi-image-image"></i> Banners</a>

                        </li>
                        <li class="bold"><a href="#" url="{{ path("_consejo_administracion") }}" class="collapsible-header  waves-effect waves-cyan ajaxify"><i class="mdi-action-account-child"></i> Consejo de Administraci&oacute;n</a>

                        </li>

                        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-border-all"></i> Global ImasT</a>
                            <div class="collapsible-body" style="display: block;">
                                <ul>
                                    <li><a url="{{ path("_que_es_global") }}" href="#" class="ajaxify">Que es el Blobal</a>
                                    </li>
                                    <li><a url="{{ path("_global2016") }}" href="#" class="ajaxify">Global 2016</a>
                                    </li>
                                    <li><a url="{{ path("_noticia", {"owner":"global-imast"}) }}" href="#" class="ajaxify">Noticias</a>
                                    </li>
                                    <li><a url="{{ path("_colaboradores") }}" href="#" class="ajaxify">Colaboradores</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="bold"><a href="#" url="{{ path("_ecosistema") }}" class="collapsible-header  waves-effect waves-cyan ajaxify"><i class="mdi-action-book"></i> Ecosistema Egauss</a>

                        </li>
                        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-assignment-ind"></i> Servicios</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a url="{{ path("_servicio", {"owner":"aeroespacio-y-defensa"}) }}" href="#" class="ajaxify">Aeroespacio y Defensa</a>
                                    </li>
                                    <li><a url="{{ path("_servicio", {"owner":"sector-publico"}) }}" href="#" class="ajaxify">Sector Público</a>
                                    </li>
                                    <li><a url="{{ path("_servicio", {"owner":"automocion-infraestructura-y-transporte"}) }}" href="#" class="ajaxify">Automoción, Infraestructura y Transporte</a>
                                    </li>
                                    <li><a url="{{ path("_servicio", {"owner":"biotecnologia-farmacia-y-salud"}) }}" href="#" class="ajaxify">Biotecnología, Farmacia y Salud</a>
                                    </li>
                                    <li><a url="{{ path("_servicio", {"owner":"energia-e-industria"}) }}" href="#" class="ajaxify">Energía e Industria</a>
                                    </li>
                                    <li><a url="{{ path("_servicio", {"owner":"ferroviario"}) }}" href="#" class="ajaxify">Ferroviario</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-assignment-late"></i> Soluciones</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a url="{{ path("_solucion", {"owner":"informacion"}) }}" href="#" class="ajaxify">Información</a>
                                    </li>
                                    <li><a url="{{ path("_solucion", {"owner":"intelligent-systems"}) }}" href="#" class="ajaxify">Intelligent Systems</a>
                                    </li>
                                    <li><a url="{{ path("_solucion", {"owner":"lifecycle-experience"}) }}" href="#" class="ajaxify">Lifecycle Experience</a>
                                    </li>
                                    <li><a url="{{ path("_solucion", {"owner":"information-systems"}) }}" href="#" class="ajaxify">Information Systems</a>
                                    </li>
                                    <li><a url="{{ path("_solucion", {"owner":"mechanical-engineering"}) }}" href="#" class="ajaxify">Mechanical Engineering</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <div style="margin-bottom: 30%"></div>

                    </ul>
                </li>
                <li class="li-hover"><div class="divider"></div></li>



            </ul>
            <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START CONTENT -->
        <section id="content">
            <div id="main-wrapper">
                {% block body %}

                {% endblock %}
            </div>


        </section>

    </div>
    <!-- END WRAPPER -->

</div>
<!-- END MAIN -->



<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START FOOTER -->
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://egaussholding.com/" target="_blank">Egauss Holding</a></span>
            <span class="right"> Desarrollado por <a class="grey-text text-lighten-4" href="http://www.icox.com">ICOX</a></span>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="{{asset('assets/vendor/jquery/jquery-2.1.4.min.js')}}"></script>
    <script src="{{asset('assets/vendor/jquery/jquery.form.min.js')}}"></script>
    <script src="{{asset('assets/vendor/materialize/js/materialize.min.js')}}"></script>
    <script src="{{asset('assets/vendor/prism/prism.js')}}"></script>
    <script src="{{asset('assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script src="{{ asset('assets/vendor/jquery/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{asset('bundles/backend/js/backend.js')}}"></script>
{% endblock %}
</body>
</html>
