<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>{% block title %}Admin Egaussweb{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link href="{{asset('assets/vendor/material/material.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('bundles/backend/css/login.css')}}" rel="stylesheet" type="text/css" />

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/vendor/jquery/jquery-2.1.4.min.js')}}"></script>
    <script src="{{asset('assets/vendor/material/material.min.js')}}"></script>
    <script src="{{asset('bundles/backend/js/login.js')}}"></script>
{% endblock %}
</body>
</html>
