<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>Egauss Business Holding | Egauss Business Holding I+T</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/index.css') }}" media="all">
</head>
<body>

<div class="site-container snap-content" id="content">

    <div class="Wrapper-center">
        <div id="header">
            <div class="eGauss-Logo"><a href="http://egaussholding.com/"> <img class="png_bg" alt="eGauss"
                                                                               src="{{ asset('bundles/app/images/egauss_logo_head.png') }}"/>
                </a></div>
        </div>

        <!----------------------------------------------------main nav------------------------------------------------------------>


        <ul id="mainNav">
            <li class="firstItem"><a class="btnNav" href="http://egaussholding.com//"><span class="btnHome"><span
                                class="homeicon">egaussholding.com</span></span></a></li>

            <li><span class="btnNav">Sobre nosotros</span>

                <div style="width: 319.333px;" class="subNav">
                    <div class="subNavContent subNav1Col">
                        <div class="subNavCol">
                            <ul class="mappingList">
                                <li><a href="http://desarrollo.egaussholding.com/"><span
                                                class="title">Misión y Visión</span></a></li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span
                                                class="title">Donde estamos</span></a></li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Consejo de Administración</span></a>
                                </li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Estructura</span></a>
                                    <ul class="linksList">
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">eGauss
                                                Innovation</a></li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Techtrans</a>
                                        </li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Club
                                                de Inversores</a></li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Fondos
                                                de Inversión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li><span class="btnNav">Nuestros Servicios</span>

                <div class="subNav" style="width: 638.667px;">
                    <div class="subNavContent subNav2Col">
                        <div class="subNavCol">
                            <ul class="mappingList">
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Servicios</span></a>
                                    <ul class="linksList">
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Aeroespacio
                                                y Defensa</a></li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Sector
                                                Público</a></li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Automoción,
                                                Infraestructura y Transporte</a></li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Biotecnología,
                                                Farmacia y Salud</a></li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Energía
                                                e Industria</a></li>
                                        <li><a class="linkMoreDownload" href="http://desarrollo.egaussholding.com/">Ferroviario</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="subNavCol">
                            <ul class="mappingList">
                                <li>
                                    <a href="http://desarrollo.egaussholding.com/nuestros-servicios/soluciones/informacion.html"><span
                                                class="title">Soluciones</span></a>
                                    <ul class="linksList">
                                        <li><a class="linkMoreDownload"
                                               href="http://desarrollo.egaussholding.com/nuestros-servicios/soluciones/informacion.html">Información</a>
                                        </li>
                                        <li><a class="linkMoreDownload"
                                               href="http://desarrollo.egaussholding.com/nuestros-servicios/soluciones/embedded-and-critical-systems.html">Intelligent
                                                Systems</a></li>
                                        <li><a class="linkMoreDownload"
                                               href="http://desarrollo.egaussholding.com/nuestros-servicios/soluciones/lifecycle-experience.html">Lifecycle
                                                Experience</a></li>
                                        <li><a class="linkMoreDownload"
                                               href="http://desarrollo.egaussholding.com/information-systems.html">Information
                                                Systems</a></li>
                                        <li><a class="linkMoreDownload"
                                               href="http://desarrollo.egaussholding.com/mecheng.html">Mechanical
                                                Engineering</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>


            <li><span class="btnNav">Noticias</span>

                <div style="width: 319.333px;" class="subNav">
                    <div class="subNavContent subNav1Col">
                        <div class="subNavCol">
                            <ul class="mappingList">
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Noticias eGauss Holding</span></a>
                                </li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Noticias eGauss Innovation</span></a>
                                </li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Noticias Global ImasCT</span></a>
                                </li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Noticias Techtrans</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>


            <li><span class="btnNav">Global Imast</span>

                <div style="width: 319.333px;" class="subNav">
                    <div class="subNavContent subNav1Col">
                        <div class="subNavCol">
                            <ul class="mappingList">
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">¿Qué es Global Imast</span></a>
                                </li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Ediciones Anteriores</span></a>
                                </li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Sedes 2015</span></a>
                                </li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span
                                                class="title">Programa 2015</span></a></li>
                                <li><a href="http://desarrollo.egaussholding.com/"><span class="title">Noticias Global Imast</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>

            <li><span class="btnNav">Ecosistema eGauss</span></li>

        </ul>

    </div>
</div>


<div class="content-global">

    <!----------------------------------------------------News Gallery---------------------------------------------------->

    <div class="fullWidthWrapper">
        <div id="c48688" class="csc-default">
            <div id="NewsGalleryBox">
                <div class="whiteAlphaRounded png_bg">
                    <div class="galleryBox withSroll" id="headerPromo">
                        <ul class="framesGallery">
                            <li style="z-index: 400;" itempos="0" class="selected">
                                <div class="frame">
                                    <a href="http://desarrollo.egaussholding.com/"><img alt=""
                                                                                        thumbsrc="{{ asset('bundles/app/images/NewsBox/pics/news1_pic.jpg') }}"
                                                                                        src="{{ asset('bundles/app/images/news1.jpg') }}"
                                                                                        border="0" height="300"
                                                                                        width="690"/></a>

                                    <div class="description png_bg">
                                        <p class="supertitle"></p>

                                        <p class="title"><a href="http://desarrollo.egaussholding.com/">title</a></p>

                                        <p class="summary"><a href="http://desarrollo.egaussholding.com/">summary</a>
                                        </p>

                                        <div class="seeall"></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                    </div>
                                </div>
                            </li>

                            <li style="z-index: 400; display: list-item;" itempos="1">
                                <div class="frame">
                                    <a href="http://desarrollo.egaussholding.com/"><img alt=""
                                                                                        thumbsrc="{{ asset('bundles/app/images/NewsBox/pics/news2_pic.jpg') }}"
                                                                                        src="{{ asset('bundles/app/images/news2.jpg') }}"
                                                                                        border="0" height="300"
                                                                                        width="690"></a>

                                    <div class="description png_bg">
                                        <p class="supertitle"></p>

                                        <p class="title"><a href="http://desarrollo.egaussholding.com/">title</a></p>

                                        <p class="summary"><a href="http://desarrollo.egaussholding.com/">summary</a>
                                        </p>

                                        <div class="seeall"></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                    </div>
                                </div>
                            </li>

                            <li style="z-index: 410; display: list-item;" itempos="2">
                                <div class="frame">
                                    <a href="http://desarrollo.egaussholding.com/"><img alt=""
                                                                                        thumbsrc="{{ asset('bundles/app/images/NewsBox/pics/7613807b7c.jpg') }}"
                                                                                        src="news3.jpg" border="0"
                                                                                        height="300" width="690"></a>

                                    <div class="description png_bg">
                                        <p class="supertitle"></p>

                                        <p class="title"><a href="http://desarrollo.egaussholding.com/">title</a></p>

                                        <p class="summary"><a href="http://desarrollo.egaussholding.com/">summary</a>
                                        </p>

                                        <div class="seeall"></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                    </div>
                                </div>
                            </li>


                            <li style="z-index: 400; display: list-item;" itempos="3">
                                <div class="frame">
                                    <a href="http://desarrollo.egaussholding.com/"><img alt=""
                                                                                        thumbsrc="{{ asset('bundles/app/images/NewsBox/pics/d91eaf63bc.jpg') }}"
                                                                                        src="69fc9fb758.jpg" border="0"
                                                                                        height="300" width="690"></a>

                                    <div class="description png_bg">
                                        <p class="supertitle"></p>

                                        <p class="title"><a href="http://desarrollo.egaussholding.com/">title</a></p>

                                        <p class="summary"><a href="http://desarrollo.egaussholding.com/">summary</a>
                                        </p>

                                        <div class="seeall"></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                        <div class="link"><a
                                                    href="http://desarrollo.egaussholding.com/"><span></span></a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="navigationGallery">
                            <li class="">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    alt="innovation matters"
                                                    src="{{ asset('bundles/app/images/news1_pic.jpg') }}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">eGauss Holding organizará el
                                            25 de Noviembre el III Global ImasT</a></div>
                                </div>
                            </li>

                            <li class="">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    alt="innovation matters"
                                                    src="{{ asset('bundles/app/images/news2_pic.jpg') }}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">PlusC Solutions se integra
                                            al holding tecnológico eGauss</a></div>
                                </div>
                            </li>

                            <li class="selected">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    alt="innovation matters"
                                                    src="{{ asset('bundles/app/images/news3_pic.jpg') }}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">Artículo por H4dm:
                                            “Inteligencia y geopolítica”</a></div>
                                </div>
                            </li>

                            <li class="">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    alt="innovation matters"
                                                    src="{{ asset('bundles/app/images/d91eaf63bc.jpg') }}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">PlusC Solutions se integra
                                            al holding tecnológico eGauss</a></div>
                                </div>
                            </li>
                            <li class="">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    src="{{ asset('bundles/app/images/news1_pic.jpg') }}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">title</a></div>
                                </div>
                            </li>
                            <li class="">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    src="{{ asset('bundles/app/images/news2_pic.jpg')}}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">title</a></div>
                                </div>
                            </li>
                            <li class="">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    src="{{ asset('bundles/app/images/7613807b7c.jpg')}}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">title</a></div>
                                </div>
                            </li>
                            <li class="">
                                <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="http://desarrollo.egaussholding.com/"><img
                                                    src="{{ asset('bundles/app/images/d91eaf63bc.jpg')}}"></a></div>
                                    <div class="caption"><a
                                                href="http://desarrollo.egaussholding.com/"><strong></strong></a><a
                                                href="http://desarrollo.egaussholding.com/">title</a></div>
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">

            <!----------------------------------------Aqui va el espacio de Twitter--------------------------------------->
            <div class="tx-cw-twitter">
                <div class="twitterWrapper">
                    <div class="twitterWrapperBg">
                        <div class="twitterBtnBox"><a href="https://twitter.com/egaussholding" target="_top"
                                                      class="twitterWrapperBtn"><span>Twitter</span></a></div>
                        <div class="twitterPost">
                            <ul id="tweets">
                                <li class="" style="top: 32px; left: 0px;">Las fotos más espectaculares de la superficie
                                    de la Tierra tomadas desde el espacio
                                    <a target="_top" title="buff.ly/1LrgtlZ" href="http://t.co/3NAyIj2gLE">buff.ly/1LrgtlZ</a>
                                    Vía <a target="_top" title="MUY Interesante"
                                           href="http://twitter.com/muyinteresante">@muyinteresante</a></li>

                                <li class="" style="top: 32px; left: 0px;">El Índice Altran representa el potencial
                                    innovador y tecnológico de los países de la UE
                                    <a target="_top" title="buff.ly/1LfYUHE" href="http://t.co/S2yMpChkah">buff.ly/1LfYUHE</a>
                                    <a target="_top"
                                       href="http://twitter.com/search?q=%23%C3%8DndiceAltran&amp;src=hash">#ÍndiceAltran</a>
                                </li>

                                <li class="" style="top: 32px; left: 0px;">Te presentamos las claves que han llevado al
                                    grupo Altran a estar dónde está
                                    <a target="_top" title="buff.ly/1LfYxNa" href="http://t.co/XhYeAKfNa3">buff.ly/1LfYxNa</a>
                                    <a target="_top" href="http://twitter.com/search?q=%23Altran360&amp;src=hash">#Altran360</a>
                                </li>

                                <li class="" style="top: 32px; left: 0px;">Conoce Innovation Matters, la nueva revista
                                    online del grupo Altran, especializada en ciencia y tecnología
                                    <a target="_top" title="buff.ly/1OAvJCX" href="http://t.co/PnqBSpEk5l">buff.ly/1OAvJCX</a>
                                </li>

                                <li class="marquee-showing" style="top: 0px; left: 0px;">La NASA acaba de publicar un
                                    video de Júpiter en alta definición y es sencillamente fascinante
                                    <a target="_top" title="buff.ly/1LdI6AZ" href="http://t.co/EMFr45YclZ">buff.ly/1LdI6AZ</a>
                                    Vía <a target="_top" title="Batanga Media" href="http://twitter.com/batanga">@batanga</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--------------------------------------------------- Videos HOME ----------------------------------------------------->
            <div id="videoContentBox">

                <div class="videoCol1">
                    <div class="videobox">
                        <iframe style="width: 100%;" src="index_1.html" allowfullscreen="" frameborder="0" height="auto"
                                width="250"></iframe>
                    </div>
                    <div class="videoDescription"><a href="http://desarrollo.egaussholding.com/">Marcos Cabezón, CEO de
                            eGauss Innovation nos habla del Global ImasT</a></div>
                </div>

                <div class="videoCol2">
                    <div class="videobox">
                        <iframe style="width: 100%;" src="index_2.html" allowfullscreen="" frameborder="0" height="auto"
                                width="250"></iframe>
                    </div>
                    <div class="videoDescription"><a href="http://desarrollo.egaussholding.com/">Vanessa Valdeiglesias:
                            España lo está perdiendo todo en investigación</a></div>
                </div>

                <div class="videoCol3">
                    <div class="videobox">
                        <iframe style="width: 100%;" src="index_3.html" allowfullscreen="" frameborder="0" height="auto"
                                width="250"></iframe>
                    </div>
                    <div class="videoDescription"><a href="http://desarrollo.egaussholding.com/">Raúl Mata, Presidente
                            de eGauss Holding: Estamos creando el ecosistema de innovación</a></div>
                </div>

                <div class="videoCol4">
                    <div class="videobox">
                        <iframe style="width: 100%;" src="index_4.html" allowfullscreen="" frameborder="0" height="auto"
                                width="250"></iframe>
                    </div>
                    <div class="videoDescription"><a href="http://desarrollo.egaussholding.com/">El Centro Nacional de
                            Biotecnología, sede del Global ImasT</a></div>
                </div>

            </div>
            <!------------------------------------------------ Secciones Inferior ------------------------------------------------->

            <div class="colsHome">
                <!---------- Col1 ---------->
                <div class="col1Home">
                    <div class="colHomeBody">
                        <div class="colHomeBox">
                            <h2 class="topBorderRadius">Noticias</h2>

                            <div class="colHomeWrapper">
                                <div class="contentPadding blocknews">
                                    <!---------- News1 ---------->
                                    <div class="resultSearchItem">
                                        <!--picture-->
                                        <div class="mediaCol">
                                            <div class="containerMedia">
                                                <a href="http://desarrollo.egaussholding.com/"><img alt=""
                                                                                                    src="noticia_2015_revistaonline-grupo.jpg"
                                                                                                    title=" --- "
                                                                                                    height="359"
                                                                                                    width="498"></a>
                                            </div>
                                        </div>
                                        <!--content-->
                                        <div class="contentCol">
                                            <p><span class="date">14 octubre 2015</span></p>

                                            <p class="title">
                                                <a href="http://desarrollo.egaussholding.com/">Grupo Altran lanza su
                                                    nueva revista, “Innovation Matters”</a></p>
                                        </div>
                                        <div class="clearBlocks"></div>
                                    </div>
                                    <!---------- News2 ---------->
                                    <div class="resultSearchItem">
                                        <!--picture-->
                                        <div class="mediaCol">
                                            <div class="containerMedia">
                                                <a href="http://desarrollo.egaussholding.com/"><img alt=""
                                                                                                    src="noticia_2015_revistaonline-grupo.jpg"
                                                                                                    title=" --- "
                                                                                                    height="359"
                                                                                                    width="498"></a>
                                            </div>
                                        </div>
                                        <!--content-->
                                        <div class="contentCol">
                                            <p><span class="date">14 octubre 2015</span></p>

                                            <p class="title">
                                                <a href="http://desarrollo.egaussholding.com/">Grupo Altran lanza su
                                                    nueva revista, “Innovation Matters”</a></p>
                                        </div>
                                        <div class="clearBlocks"></div>
                                    </div>
                                    <!---------- News2 ---------->
                                    <div class="resultSearchItem">
                                        <!--picture-->
                                        <div class="mediaCol">
                                            <div class="containerMedia">
                                                <a href="http://desarrollo.egaussholding.com/"><img alt=""
                                                                                                    src="noticia_2015_revistaonline-grupo.jpg"
                                                                                                    title=" --- "
                                                                                                    height="359"
                                                                                                    width="498"></a>
                                            </div>
                                        </div>
                                        <!--content-->
                                        <div class="contentCol">
                                            <p><span class="date">14 octubre 2015</span></p>

                                            <p class="title">
                                                <a href="http://desarrollo.egaussholding.com/">Grupo Altran lanza su
                                                    nueva revista, “Innovation Matters”</a></p>
                                        </div>
                                        <div class="clearBlocks"></div>
                                    </div>
                                    <!-------- Read More -------->
                                    <div class="colsHome">
                                        <ul class="linksList">
                                            <li class="odd"><a href="http://desarrollo.egaussholding.com/noticias.html"
                                                               title="Leer más" class="linkMoreDownload">Leer más</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------- Col2 ---------->
                <div class="col2Home">
                    <div class="colHomeBody">
                        <div class="homeBottomNewsBox">
                            <p class="title">Global I+T</p>

                            <div class="contentHomeBottomNewsBox  png_bg">
                                <div class="colsHome">
                                    <a href="http://desarrollo.egaussholding.com/www.globalimast.com"><img
                                                alt="Global I+T" src="global_it_img.gif"></a>

                                    <div class="virtualCol1T2TB">

                                        <ul class="linksList">
                                            <li><a class="linkMoreDownload" target="_top"
                                                   href="http://desarrollo.egaussholding.com/">Global I+T</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------- Col3 ---------->
                <div class="col3Home">
                    <div class="colHomeBody">
                        <div class="homeBottomNewsBox">
                            <p class="title">Capacity into Profit</p>

                            <div class="contentHomeBottomNewsBox  png_bg">
                                <div class="colsHome">
                                    <a href="http://desarrollo.egaussholding.com/www.globalimast.com"><img
                                                alt="Capacity into profit" src="graficos_egauss.gif"></a>

                                    <div class="virtualCol1T2TB">

                                        <ul class="linksList">
                                            <li><a class="linkMoreDownload" target="_top"
                                                   href="http://desarrollo.egaussholding.com/">Capacity into Profit </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------->
        </div>
    </div>


</div>

<!------------------------------------------------------ Footer ------------------------------------------------------>
<div id="footer">

    <div class="eGaussFooter">
        <div class="footerSuperior">
            <div class="socialArea">
                <p class="labelTxt">Siguenos:</p>
                <a class="btnLinkedin" target="_top" title="LinkedIn"
                   href="https://www.linkedin.com/company/egauss?trk=tyah&amp;trkInfo=idx%3A2-1-2%2CtarId%3A1423660776269%2Ctas%3Aegaus"></a>
                <a class="btnTwitter" target="_top" title="Twitter" href="https://twitter.com/egaussholding"></a>
                <a class="btnYoutube" target="_top" title="Youtube"
                   href="https://www.youtube.com/channel/UCsrjZxvdFU2afc9N89DMGfg"></a>
            </div>
            <div class="logoArea"><img alt="Altran" src="logo_footer.jpg"></div>
        </div>


        <div class="footerSitemap">

            <div class="footerSitemapCol footerSitemapCol1">
                <li><p>
                        <a href="http://desarrollo.egaussholding.com/sobre-nosotros/altran-espana/ingenieria-y-consultoria.html">Sobre
                            nosotros</a></p>
                    <ul>
                        <li><a href="http://desarrollo.egaussholding.com/">Misión y Visión</a></li>
                        <li><a href="http://desarrollo.egaussholding.com/">Donde Estamos</a></li>
                        <li><a href="http://desarrollo.egaussholding.com/">Concejo de Administración</a></li>
                        <li><a href="http://desarrollo.egaussholding.com/">Estructura</a></li>
                    </ul>
                </li>
            </div>

            <div class="footerSitemapCol footerSitemapCol1">
                <li><p>
                        <a href="http://desarrollo.egaussholding.com/sobre-nosotros/altran-espana/ingenieria-y-consultoria.html">Nuestros
                            Servicios</a></p>
                    <ul>
                        <li><a href="http://desarrollo.egaussholding.com/">Servicios</a></li>
                        <li><a href="http://desarrollo.egaussholding.com/">Soluciones</a></li>
                    </ul>
                </li>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul>
                    <li><p><a href="http://desarrollo.egaussholding.com/careers/careersaltran/innovation-makers.html">Noticias</a>
                        </p>
                        <ul>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/careersaltran/innovation-makers.html">Noticias
                                    eGauss Holding</a></li>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/application/proceso-de-seleccion.html">Noticias
                                    eGauss Innovation</a></li>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/careersaltran/innovation-makers.html">Noticias
                                    TechTrans</a></li>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/application/proceso-de-seleccion.html">Noticias
                                    Global Imast</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul>
                    <li><p><a href="http://desarrollo.egaussholding.com/careers/careersaltran/innovation-makers.html">Global
                                Imast</a></p>
                        <ul>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/careersaltran/innovation-makers.html">Que
                                    es el Global Imast</a></li>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/application/proceso-de-seleccion.html">Ediciones
                                    Anteriores</a></li>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/careersaltran/innovation-makers.html">Sedes
                                    2015</a></li>
                            <li>
                                <a href="http://desarrollo.egaussholding.com/careers/application/proceso-de-seleccion.html">Noticias
                                    Global Imast</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul>
                    <li>
                        <p><a href="http://desarrollo.egaussholding.com/careers/careersaltran/innovation-makers.html">Ecosistema
                                eGauss</a></p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<script src="{{ asset('bundles/app/js/jquery.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/snap.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/jquery.marquee.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/main.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/jquery-ui.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/ajaxcalls.js')}}" type="text/javascript"></script>
<script language="javascript" type="text/javascript">$(document).ready(function () {
        eGauss.setHeaderPromo(48688);
    })</script>

</body>
</html>
