<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Egauss Business Holding | Egauss Business Holding I+T</title>
    <link href="{{asset('assets/vendor/materialize/css/materialize.css')}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/index.css') }}" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body>

<div class="site-container snap-content" id="content">

    <div class="Wrapper-center">
        {#<div id="header">
            <div class="eGauss-Logo"> <a href="#"> <img class="png_bg" alt="eGauss" src="{{ asset('bundles/app/images/egauss_logo_head.png')}}"> </a> </div>
        </div>#}

        <!----------------------------------------------------main nav------------------------------------------------------------>

        <div class="row">
            <div class="col s9">
                <ul id="mainNav">
                    <li class="firstItem"><a class="btnNav" href="{{ path("homepage") }}"><span class="btnHome"><span class="homeicon">egaussholding.com</span></span></a></li>

                    <li><span class="btnNav">Sobre Nosotros</span>
                        <div style="min-width: 16em;" class="subNav"> <div class="subNavContent subNav1Col">
                                <div class="subNavCol"> <ul class="mappingList">
                                        <li><a href="{{ path("mision_vision") }}"><span class="title">Misión y Visión</span></a></li>
                                        <li><a href="{{ path("quienes_somos") }}"><span class="title">Quienes somos</span></a></li>
                                        <li><a href="{{ path("estructura", {"owner":"introduction"}) }}"><span class="title">Estructura Holdings</span></a>
                                            <ul class="linksList">
                                                <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"introduction"}) }}">Introducción</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"egauss-innovation"}) }}">eGauss Innovation</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"egauss-consulting"}) }}">eGauss Consulting</a></li>
                                                    <ul class="linksList">
                                                        <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"techtrans"}) }}">Techtrans</a></li>
                                                        <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"h4dm"}) }}">H4DM</a></li>
                                                        <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"ifi"}) }}">IFI</a></li>
                                                        <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"gis"}) }}">GIS</a></li>
                                                    </ul>
                                                <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"egauss-innovation"}) }}">eGauss Capital</a></li>
                                                    <ul class="linksList">
                                                        <li><a class="linkMoreDownload" href="{{ path("estructura", {"owner":"fondos-de-inversion"}) }}">Fondos de Inversión</a></li>
                                                    </ul>
                                            </ul>
                                        </li>
                                        <li><a href="{{ path("donde_estamos") }}"><span class="title">Donde estamos</span></a></li>
                                    </ul> </div>
                            </div></div>
                    </li>

                    <li><a href="{{ path("ecosistemaegauss") }}"> <span class="btnNav">Ecosistema Egauss</span></a>

                    </li>

                    <li><a href="{{ path("que_es_global") }}"><span class="btnNav">Global ImasT</span></a>

                    </li>


                    <li class="lilast"> <a href="{{ path("noticias",{"owner": "egauss-holding"}) }}"><span class="btnNav">Noticias</span></a>
                        <div style="min-width: 16em;" class="subNav"> <div class="subNavContent subNav1Col">
                                <div class="subNavCol"> <ul class="mappingList">
                                        <li><a href="{{ path("noticias",{"owner": "egauss-holding"}) }}"><span class="title">eGauss Holding</span></a></li>
                                        <li><a href="{{ path("noticias",{"owner": "egauss-innovation"}) }}"><span class="title">eGauss Innovation</span></a></li>
                                        <li><a href="{{ path("noticias",{"owner": "egauss-consulting"}) }}"><span class="title">eGauss Consulting</span></a>
                                            <ul class="linksList">
                                                <li><a class="linkMoreDownload" href="{{ path("noticias",{"owner": "techtrans"}) }}">Techtrans</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("noticias",{"owner": "h4dm"}) }}">H4DM</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("noticias",{"owner": "ifi"}) }}">IFI</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("noticias",{"owner": "gis"}) }}">GIS</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ path("noticias",{"owner": "fondos-de-inversion"}) }}"><span class="title">eGauss Capital</span></a>
                                            <ul class="linksList">
                                                <li><a class="linkMoreDownload" href="{{ path("noticias",{"owner": "fondos-de-inversion"}) }}">Fondos de Inversión</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ path("noticiasglobal",{"owner": "global-imast"}) }}"><span class="title">Global I+T</span></a></li>

                                        <!--<li><a href="{{ path("noticias",{"owner": "techtrans"}) }}"><span class="title">Noticias Techtrans</span></a></li>
                                        <li><a href="{{ path("noticias",{"owner": "h4dm"}) }}"><span class="title">Noticias H4DM</span></a></li>
                                        <li><a href="{{ path("noticias",{"owner": "fondos-de-inversion"}) }}"><span class="title">Noticias Fondos de Inversión</span></a></li>
                                        <li><a href="{{ path("noticiasglobal",{"owner": "global-imast"}) }}"><span class="title">Noticias Global ImasT</span></a></li>-->
                                    </ul> </div>
                            </div></div>
                    </li>

                    <!--<li><span class="btnNav">Nuestros Sectores</span>
                        <div class="subNav" style="width: 62em;">
                            <div class="subNavContent subNav2Col" style="min-height: 470px;">
                                <div class="subNavCol" style="float: left; width: 20em;"> <ul class="mappingList">
                                        <li><a href="#"><span class="title">Sectores</span></a>
                                            <ul class="linksList">
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"biotecnologia"}) }}">Biotecnología</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"salud"}) }}">Salud</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"telecomunicaciones"}) }}">Telecomunicaciones</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"big-data"}) }}">Big Data</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"impresion"}) }}">Impresión 3D</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"supercomputacion"}) }}">Supercomputación</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"finanzas"}) }}">Finanzas</a></li>
                                                <li><a class="linkMoreDownload" href="{{ path("servicios", {"owner":"ingenierias-construccion"}) }}">Ingenierías y construcción</a></li>
                                            </ul>
                                        </li>
                                    </ul> </div>

                                <div class="subNavCol" style="float: left; width: 20em;"> <ul class="mappingList">
                                        <li><a ><span class="title">Soluciones</span></a>
                                            <ul class="linksList">
                                                <li><a href="{{ path("soluciones", {"owner":"optimizacion-equipos"}) }}"  class="linkMoreDownload">Optimización de equipos y servicios tecnológicos de Centros de Investigación</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"busqueda-equipamiento"}) }}"  class="linkMoreDownload">Búsqueda de equipamiento tecnológico para empresas</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"webtv"}) }}"  class="linkMoreDownload">WebTV para hoteles y resorts</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"servicios-streaming"}) }}"  class="linkMoreDownload">Servicios de Streaming y Broadcasting multiplataforma</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"estudio-riesgo-sismico"}) }}"  class="linkMoreDownload">Estudio de Riesgo Sísmico</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"caracterizacion-sismica"}) }}"  class="linkMoreDownload">Caracterización Sísmica</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"tesaruros"}) }}"  class="linkMoreDownload">Tesauros para portales de e-commerce </a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"global-innovation"}) }}"  class="linkMoreDownload">Global Innovation School, Formación específica en Innovación </a>
                                                </li>

                                              </ul>


                                        </li>
                                    </ul> </div>
                                <div class="subNavCol" style="float: left; width: 20em;"> <ul class="mappingList" style="list-style-type: none; list-style: none;">
                                        <li style="background: none;"> <span class="title">&nbsp;</span>
                                            <ul class="linksList">

                                                <li><a href="{{ path("soluciones", {"owner":"clipping"}) }}"  class="linkMoreDownload">Clipping de prensa </a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"impresion-3d"}) }}"  class="linkMoreDownload">Impresión 3D </a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"analisis-perfiles"}) }}"  class="linkMoreDownload">Análisis de perfiles personales y societarios</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"analisis-inversiones"}) }}"  class="linkMoreDownload">Análisis de inversiones</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"estrategia-implantaciones"}) }}"  class="linkMoreDownload">Estrategia en implantaciones internacionales</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"observatorio"}) }}"  class="linkMoreDownload">Observatorio de Innovación</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"analisis-estructura"}) }}"  class="linkMoreDownload">Análisis de estructura organizacional</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"realizacion-contenidos"}) }}"  class="linkMoreDownload">Realización de contenidos audiovisuales tecnológicos</a>
                                                </li>
                                                <li><a href="{{ path("soluciones", {"owner":"plataforma-inteligencia"}) }}"  class="linkMoreDownload">Plataforma de Inteligencia de última generación</a>
                                                </li>
                                            </ul></li></ul></div>
                            </div> </div>
                    </li>-->

                </ul>

            </div>
            <div class="col s3">
                <a href="{{ path("homepage") }}"> <img class="logoheader png_bg responsive-img" alt="eGauss" src="{{ asset('bundles/app/images/egauss_logo_head.png')}}"> </a>


            </div>
        </div>


    </div>
</div>


<div class="content-global">

    <!----------------------------------------------------News Gallery---------------------------------------------------->

    <div class="fullWidthWrapper">
        {%block body%}

        {%endblock body%}
    </div>

</div>

<!------------------------------------------------------ Footer ------------------------------------------------------>
<div id="footer">

    <div class="eGaussFooter">
        <div class="footerSuperior">
            <div class="socialArea">
                <p class="labelTxt">Siguenos:</p>
                <!--<a class="btnLinkedin" target="_top" title="LinkedIn" href="https://www.linkedin.com/in/raulmatajimenez?authType=NAME_SEARCH&authToken=u"></a>-->
                <a class="btnLinkedin" target="_blank" title="LinkedIn" href="https://www.linkedin.com/company/egauss"></a>
                <a class="btnTwitter" target="_blank" title="Twitter" href="https://twitter.com/egaussholding"></a>
                <!--<a class="btnYoutube" target="_top" title="Youtube" href="https://www.youtube.com/channel/UCsrjZxvdFU2afc9N89DMGfg"></a>-->
            </div>
            <div class="logoArea"><a href="{{ path("homepage") }}" ><img alt="Egauss ImasT" src="{{ asset('bundles/app/images/logo_footer.jpg')}}   "></a></div>
        </div>


        <div class="footerSitemap">

            <div class="footerSitemapCol footerSitemapCol1">
                <ul>
                <li><p><a href="#">Sobre Nosotros</a></p>
                    <ul>
                        <li><a href="{{ path("mision_vision") }}">Misión y Visión</a></li>
                        <li><a href="{{ path("quienes_somos") }}">Quienes Somos</a></li>
                        <li><a href="#">Estructura Holdings</a></li>
                        <li><a href="{{ path("donde_estamos") }}">Donde Estamos</a></li>
                    </ul>
                </li></ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul>
                    <li>
                        <p><a href="{{ path("ecosistemaegauss") }}">Ecosistema Egauss</a></p>
                    </li>
                </ul>
            </div>
            <div class="footerSitemapCol footerSitemapCol2">
                <ul><li><p><a href="{{ path("que_es_global") }}">Global Imast</a></p>
                        {#<ul>
                            <li><a href="{">Que es el Global Imast</a></li>
                            <li><a href="{{ path("global2016") }}">Global 2016</a></li>
                            <li><a href="{{ path("noticias",{"owner": "Global ImasT"}) }}">Noticias Global Imast</a></li>
                        </ul>#}
                    </li>
                </ul>
            </div>

            <!--<div class="footerSitemapCol footerSitemapCol1">
                <ul>
                <li><p><a href="#">Nuestros Sectores</a></p>
                    <ul >
                        <li><a  href="{{ path("servicios", {"owner":"aeroespacio-y-defensa"}) }}">Aeroespacio y Defensa</a></li>
                        <li><a  href="{{ path("servicios", {"owner":"sector-publico"}) }}">Sector Público</a></li>
                        <li><a  href="{{ path("servicios", {"owner":"automocion-infraestructura-y-transporte"}) }}">Automoción, Infraestructura y Transporte</a></li>
                        <li><a  href="{{ path("servicios", {"owner":"biotecnologia-farmacia-y-salud"}) }}">Biotecnología, Farmacia y Salud</a></li>
                        <li><a  href="{{ path("servicios", {"owner":"energia-e-industria"}) }}">Energía e Industria</a></li>
                        <li><a  href="{{ path("servicios", {"owner":"ferroviario"}) }}">Ferroviario</a></li>
                    </ul>
                </li>
                    </ul>
            </div>-->

            <div class="footerSitemapCol footerSitemapCol2">
                <ul><li><p><a href="#">Noticias</a></p>
                        <ul>
                            <li><a href="{{ path("noticias",{"owner": "egauss-holding"}) }}"><span class="title">eGauss Holding</span></a></li>
                            <li><a href="{{ path("noticias",{"owner": "egauss-innovation"}) }}"><span class="title">eGauss Innovation</span></a></li>
                            <li><a href="{{ path("noticias",{"owner": "techtrans"}) }}"><span class="title">Techtrans</span></a></li>
                            <li><a href="{{ path("noticias",{"owner": "h4dm"}) }}"><span class="title">H4DM</span></a></li>
                            <li><a href="{{ path("noticias",{"owner": "ifi"}) }}"><span class="title">IFI</span></a></li>
                            <li><a href="{{ path("noticias",{"owner": "gis"}) }}"><span class="title">GIS</span></a></li>
                            <li><a href="{{ path("noticias",{"owner": "fondos-de-inversion"}) }}"><span class="title">eGauss Capital</span></a></li>
                            <li><a href="{{ path("noticiasglobal",{"owner": "global-imast"}) }}"><span class="title">Global I+T</span></a></li>
                        </ul>
                    </li></ul>
            </div>
        </div>

    </div>

</div>
{% block javascripts %}

<script src="{{ asset('bundles/app/js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/jquery-ui.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/vendor/materialize/js/materialize.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/snap.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/jquery.marquee.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/app.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/ajaxcalls.js')}}" type="text/javascript"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77919017-1', 'auto');
    ga('send', 'pageview');

</script>
<script language="javascript" type="text/javascript">$(document).ready(function(){eGauss.setHeaderPromo(48688);})</script>
{% endblock %}
</body>
</html>
