<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Global I+T</title>
    <link href="{{asset('assets/vendor/materialize/css/materialize.css')}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/index.css') }}" media="all">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
</head>
<body>

<div class="site-container snap-content" id="content">

    <div class="Wrapper-center">

        <!----------------------------------------------------main nav------------------------------------------------------------>

        <div class="row">
            <div class="col s9">
                <ul id="mainNav">
                    <li class="firstItem"><a class="btnNav" href="{{ path("global-imast") }}"><span class="btnHome"><span class="homeicon">globalimast.com</span></span></a></li>

                    <li><a href="{{ path("globalimast_que_es_global") }}"><span class="btnNav">Sobre Global</span></a>

                    </li>
                    <li><span class="btnNav">Ediciones anteriores</span>
                        <div style="min-width: 16em;" class="subNav"> <div class="subNavContent subNav2Col" style="min-height: 100px !important;">
                        <div class="subNavCol"> <ul class="mappingList">
                        <li><a href="{{ path("globalimast_edicionanterior", {"anio": 2013}) }}"><span class="title">2013</span></a></li>
                        <li><a href="{{ path("globalimast_edicionanterior", {"anio": 2014}) }}"><span class="title">2014</span></a></li>
                        <li><a href="{{ path("globalimast_edicionanterior", {"anio": 2015}) }}"><span class="title">2015</span></a></li>

                        </ul> </div>
                        </div></div>

                    </li>


                    <li> <a href="{{ path("globalimast_noticiasglobal",{"owner": "global-imast"}) }}"><span class="btnNav">Noticias</span></a>
                        {#<div style="min-width: 18em;" class="subNav"> <div class="subNavContent subNav1Col">#}
                                {#<div class="subNavCol"> <ul class="mappingList">#}
                                        {#<li><a href="{{ path("noticias",{"owner": "global-imast"}) }}"><span class="title">Noticias Global ImasT</span></a></li>#}
                                    {#</ul> </div>#}
                            {#</div></div>#}
                    </li>


                    <li><a href="{{ path("globalimast_global2016") }}"><span class="btnNav">Global 2016</span></a>

                    </li>

                    <li class="lilast"><a href="{{ path("globalimast_colaboradores") }}"> <span class="btnNav">Colaboradores</span></a>

                    </li>


                </ul>

            </div>
            <div class="col s3">
                <a href="{{ path("global-imast") }}"> <img class="logoheader col s2 png_bg responsive-img" alt="eGauss" src="{{ asset('bundles/app/images/global_logo.png')}}"/> </a>
            </div>
        </div>


    </div>
</div>


<div class="content-global">

    <!----------------------------------------------------News Gallery---------------------------------------------------->

    <div class="fullWidthWrapper">
        {%block body%}

        {%endblock body%}
    </div>

</div>

<!------------------------------------------------------ Footer ------------------------------------------------------>
<div id="footer">

    <div class="eGaussFooter">
        <div class="footerSuperior row">
            <div class="socialArea col s9">
                <p class="labelTxt">Siguenos:</p>
                <a class="btnLinkedin" target="_top" title="LinkedIn" href="https://www.linkedin.com/in/raulmatajimenez?authType=NAME_SEARCH&authToken=u"></a>
                <a class="btnTwitter" target="_top" title="Twitter" href="https://twitter.com/egaussholding"></a>
                <a class="btnYoutube" target="_top" title="Youtube" href="https://www.youtube.com/channel/UCsrjZxvdFU2afc9N89DMGfg"></a>
            </div>
            <div class="col s3"><a href="{{ path("homepage") }}" ><img alt="Global ImasT" class="responsive-img" src="{{ asset('bundles/app/images/global_logo.png')}}   "></a></div>
        </div>


        <div class="footerSitemap">

            <div class="footerSitemapCol footerSitemapCol1">
                <ul>
                <li><p><a href="{{ path("globalimast_que_es_global") }}">Sobre Global</a></p>

                </li></ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol1">
                <ul>
                <li><p><a href="#">Ediciones anteriores</a></p>
                    <ul >
                        <li><a  href="{{ path("globalimast_edicionanterior", {"anio": "2013"}) }}">2013</a></li>
                        <li><a  href="{{ path("globalimast_edicionanterior", {"anio": "2014"}) }}">2014</a></li>
                        <li><a  href="{{ path("globalimast_edicionanterior", {"anio": "2015"}) }}">2015</a></li>
                        </ul>
                </li>
                    </ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul><li><p><a href="{{ path("globalimast_noticiasglobal" , {"owner":"global-imast"}) }}">Noticias</a></p>

                    </li></ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul><li><p><a href="{{ path("globalimast_global2016") }}">Global 2016</a></p>

                    </li>
                </ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul>
                    <li>
                        <p><a href="{{ path("globalimast_colaboradores") }}">Colaboradores</a></p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
{% block javascripts %}

<script src="{{ asset('bundles/app/js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/jquery-ui.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/vendor/materialize/js/materialize.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/snap.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/jquery.marquee.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/app.js')}}" type="text/javascript"></script>

<script src="{{ asset('bundles/app/js/ajaxcalls.js')}}" type="text/javascript"></script>
<script language="javascript" type="text/javascript">$(document).ready(function(){eGauss.setHeaderPromo(48688);})</script>
{% endblock %}
</body>
</html>
