<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Egauss Business Holding | Egauss Business Holding I+T</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/index.css') }}" media="all">
    <link href="{{asset('assets/vendor/materialize/css/materialize.css')}}" rel="stylesheet" type="text/css" />

</head>
<body>

<div class="site-container snap-content" id="content">

    <div class="Wrapper-center">
        <div id="header">
            <div class="eGauss-Logo"> <a href="#"> <img class="png_bg" alt="eGauss" src="{{ asset('bundles/app/images/egauss_logo_head.png')}}"> </a> </div>
        </div>

        <!----------------------------------------------------main nav------------------------------------------------------------>


        <ul id="mainNav">
            <li class="firstItem"><a class="btnNav" href="{{ path("homepage") }}"><span class="btnHome"><span class="homeicon">egaussholding.com</span></span></a></li>

            <li><span class="btnNav">Sobre Global</span>
                <div style="width: 319.333px;" class="subNav"> <div class="subNavContent subNav1Col">
                        <div class="subNavCol"> <ul class="mappingList">
                                <li><a href="{{ path("mision_vision") }}"><span class="title">Misión y Visión</span></a></li>
                                <li><a href="{{ path("donde_estamos") }}"><span class="title">Donde estamos</span></a></li>
                                <li><a href="{{ path("quienes_somos") }}"><span class="title">Quienes somos</span></a></li>
                                <li><a href="#"><span class="title">Estructura Holdings</span></a>
                                    <ul class="linksList">
                                        <li><a class="linkMoreDownload" href="#">eGauss Innovation</a></li>
                                        <li><a class="linkMoreDownload" href="#">Techtrans</a></li>
                                        <li><a class="linkMoreDownload" href="#">H4DN</a></li>
                                        <li><a class="linkMoreDownload" href="#">Fondos de Inversión</a></li>
                                    </ul>
                                </li>
                            </ul> </div>
                    </div></div>
            </li>

            <li><span class="btnNav">Ediciones anteriores</span>
                <div class="subNav" style="width: 638.667px;">  <div class="subNavContent subNav2Col">
                        <div class="subNavCol"> <ul class="mappingList">
                                 <ul class="linksList">
                                        <li><a class="linkMoreDownload" href="#">2013</a></li>
                                        <li><a class="linkMoreDownload" href="#">2014</a></li>
                                        <li><a class="linkMoreDownload" href="#">2015</a></li>
                                    </ul>
                            </ul> </div>
                    </div> </div>
            </li>


            <li> <span class="btnNav">Noticias</span>
                <div style="width: 319.333px;" class="subNav"> <div class="subNavContent subNav1Col">
                        <div class="subNavCol"> <ul class="mappingList">
                                <li><a href="{{ path("noticias",{"owner": "eGauss Holding"}) }}"><span class="title">Noticias eGauss Holding</span></a></li>
                                <li><a href="{{ path("noticias",{"owner": "eGauss Innovation"}) }}"><span class="title">Noticias eGauss Innovation</span></a></li>
                                <li><a href="{{ path("noticias",{"owner": "Techtrans"}) }}"><span class="title">Noticias Techtrans</span></a></li>
                                <li><a href="{{ path("noticias",{"owner": "H4DM"}) }}"><span class="title">H4DM</span></a></li>
                                <li><a href="{{ path("noticias",{"owner": "Fondos de Inversión"}) }}"><span class="title">Fondos de Inversión</span></a></li>
                            </ul> </div>
                    </div></div>
            </li>


            <li><span class="btnNav">Global ImasT</span>
                <div style="width: 319.333px;" class="subNav"> <div class="subNavContent subNav1Col">
                        <div class="subNavCol"> <ul class="mappingList">
                                <li><a href="{{ path("que_es_global") }}"><span class="title">¿Qué es Global?</span></a></li>
                                <li><a href="{{ path("global2016") }}"><span class="title">Global 2016</span></a></li>
                                <li><a href="{{ path("noticias",{"owner": "Global ImasT"}) }}"><span class="title">Noticias Global Imast</span></a></li>

                            </ul> </div>
                    </div> </div>
            </li>

            <li> <span class="btnNav">Colaboradores</span>
                {#<div style="width: 319.333px;" class="subNav"> <div class="subNavContent subNav1Col">#}
                        {#<div class="subNavCol"> <ul class="mappingList">#}
                                {#<li><a href="#"><span class="title">¿Qué es Global Imast</span></a></li>#}
                                {#<li><a href="#"><span class="title">Ediciones Anteriores</span></a></li>#}
                                {#<li><a href="#"><span class="title">Sedes 2015</span></a></li>#}
                                {#<li><a href="#"><span class="title">Programa 2015</span></a></li>#}
                                {#<li><a href="#"><span class="title">Noticias Global Imast</span></a></li>#}
                            {#</ul> </div>#}
                    {#</div> </div>#}
            </li>

        </ul>

    </div>
</div>


<div class="content-global">

    <!----------------------------------------------------News Gallery---------------------------------------------------->

    <div class="fullWidthWrapper">
        {%block body%}

        {%endblock body%}
    </div>

</div>

<!------------------------------------------------------ Footer ------------------------------------------------------>
<div id="footer">

    <div class="eGaussFooter">
        <div class="footerSuperior">
            <div class="socialArea">
                <p class="labelTxt">Siguenos:</p>
                <a class="btnLinkedin" target="_top" title="LinkedIn" href="#"></a>
                <a class="btnTwitter" target="_top" title="Twitter" href="#"></a>
                <a class="btnYoutube" target="_top" title="Youtube" href="#"></a>
            </div>
            <div class="logoArea"><img alt="Altran" src="{{ asset('bundles/app/images/logo_footer.jpg')}}   "></div>
        </div>


        <div class="footerSitemap">

            <div class="footerSitemapCol footerSitemapCol1">
                <ul>
                <li><p><a href="#">Sobre Global</a></p>
                    <ul>
                        <li><a href="{{ path("mision_vision") }}">Misión y Visión</a></li>
                        <li><a href="{{ path("donde_estamos") }}">Donde Estamos</a></li>
                        <li><a href="{{ path("quienes_somos") }}">Quienes Somos</a></li>
                        <li><a href="#">Estructura Holdings</a></li>
                    </ul>
                </li></ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol1">
                <ul>
                <li><p><a href="#">Ediciones Anteriores</a></p>
                    <ul>
                        <li><a href="#">2013</a></li>
                        <li><a href="#">2014</a></li>
                        <li><a href="#">2015</a></li>
                    </ul>
                </li>
                    </ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul><li><p><a href="#">Noticias</a></p>
                        <ul>
                            <li><a href="{{ path("noticias",{"owner": "eGauss Holding"}) }}">Noticias eGauss Holding</a></li>
                            <li><a href="{{ path("noticias",{"owner": "eGauss Innovation"}) }}">Noticias eGauss Innovation</a></li>
                            <li><a href="{{ path("noticias",{"owner": "Techtrans"}) }}">Noticias TechTrans</a></li>
                            <li><a href="{{ path("noticias",{"owner": "H4DM"}) }}">Noticias H4DM</a></li>
                            <li><a href="{{ path("noticias",{"owner": "Fondos de Inversión"}) }}">Fondos de Inversión</a></li>
                        </ul>
                    </li></ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul><li><p><a href="#">Global Imast</a></p>
                        <ul>
                            <li><a href="{{ path("que_es_global") }}">Que es el Global Imast</a></li>
                            <li><a href="{{ path("global2016") }}">Global 2016</a></li>
                            <li><a href="{{ path("noticias",{"owner": "Global ImasT"}) }}">Noticias Global Imast</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="footerSitemapCol footerSitemapCol2">
                <ul>
                    <li>
                        <p><a href="#">Colaboradores</a></p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
{% block javascripts %}

<script src="{{ asset('bundles/app/js/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/vendor/materialize/js/materialize.min.js')}}"></script>
<script src="{{ asset('bundles/app/js/snap.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/jquery.marquee.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/app.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/jquery-ui.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/js/ajaxcalls.js')}}" type="text/javascript"></script>
<script language="javascript" type="text/javascript">$(document).ready(function(){eGauss.setHeaderPromo(48688);})</script>
{% endblock %}
</body>
</html>
