{%extends "::frontbase.html.twig"%}
{%block body%}
    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <!--Left-->
            <div class="row">
            {% include 'AppBundle:App:menuLeftSobreGlobal.html.twig' with {"active":owner} %}

            <div class="col s7 m12 l9 left">
                    <h6 class="titlemenu" style="text-align: left !important; padding: 0.7em !important;">Estructura {{ owner | upper }}</h6>
                {% if entities | length > 0 %}
                    {% if owner== 'egauss-innovation' %}
                       <p class="justify col s6 m12 l8" style="font-size: 14px; margin-bottom:1.5em">
                           Desde eGauss Innovation participamos accionarialmente en compañías de base tecnológica que creamos juntos con Investigadores y departamentos de Universidades y Centros de Investigación. Este es nuestro Portfoflio actual:
                       </p>
                    {% endif %}
                    {% for entity in entities %}
                                    <div class="row resultSearchItem">
                                    <div class="col s6 m12 l8">
                                            <div class="col s6 m6 l3" style="margin-top: 1em;">
                                                <img src="{{ asset(entity.getWebPath()) }}" class="responsive-img materialboxed" />
                                            </div>
                                                <p class="justify noticetitle"> {{ entity.titular }}</p>
                                                <p class="justify">{{ entity.texto | slice(0,400) }}</p>
                                        <p class="justify alingleft" ><a class="link" href="{{ path("estructura_detalle", {"slug": entity.slug}) }}">Leer m&aacute;s</a></p>

                                    </div>
                        <div class="col s3 m12 l4">
                            <div class="video-container top10">
                                {{ entity.urlvideo | raw }}
                            </div>
                            {% if entity.getWebPathPresentacion() is not null %}
                            <div class="row top10">
                                <a href="{{ asset(entity.getWebPathPresentacion()) }}" target="_blank"><img src="{{ asset('bundles/app/images/image_pdf.png') }}"/>  </a>

                            </div>
                            {% endif %}
                        </div>
                        </div>
                                {% endfor %}

                    {% else %}
                        <div class="noresult">
                            <h6 style="text-align: left; padding: 1em; color: #e23337 !important;"><i class="mdi-action-info-outline"></i> Estamos trabajando para poner contenidos.</h6>

                        </div>
                        {% endif %}




            </div>


            </div>
        </div>
        </div>

{%endblock body%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/menu.js') }}" type="text/javascript"></script>
    <script>
        $( document ).ready(function() {
            $('#cssmenu li.has-sub>a').click();})

    </script>
{% endblock %}