{% if entities | length > 0 %}
    {% for entity in entities %}
        <div class="row s12 m12 l12 resultSearchItem">

            <div class="col s6 m6 l4" style="margin-top: 1em;">
                <img src="{{ asset(entity.getThumbnail()) }}" class="responsive-img materialboxed"/>
                {% if entity.urlvideo is not null %}
                <div class="video-container top10">
                    {{ entity.urlvideo | raw }}
                </div>
                {% endif %}
            </div>

            <p class="justify"> {{ entity.fecha | date("Y-m-d") }}</p>

            <p class="justify noticetitle"> {{ entity.nombre }}</p>

            <p class="justify">{{ entity.texto }}</p>

            {#<p class="justify alingleft"><a class="link" href="{{ path("noticia", {"slug": entity.slug}) }}">Leer m&aacute;s</a>#}
            {#</p>#}

        </div>
    {% endfor %}
{% else %}
    <div class="noresult">
        <i class="mdi-action-info-outline"></i> Estamos trabajando para poner contenidos.

    </div>
{% endif %}


