{%extends "::frontbase.html.twig"%}
{%block body%}
    <div id="c48688" class="csc-default">
            <div id="NewsGalleryBox">
                <div class="whiteAlphaRounded png_bg">
                    <div class="galleryBox withSroll" id="headerPromo">
                        <ul class="framesGallery">
                        {% for banner in banners %}
                        {% if loop.index == 1 %}
                        <li style="z-index: 400;" itempos="{{ loop.index }}" class="selected">
                        {% else %}
                         <li style="z-index: 400;" itempos="{{ loop.index }}">
                         {% endif %}
                                <div class="frame">
                                    <a href="{{ banner.link }}"><img alt="" thumbsrc="{{ asset(banner.getWebPath)}}" src="{{ asset(banner.getWebPath)}}" border="0" height="300" width="690"></a>
                                    <div class="description png_bg">
                                        <p class="supertitle"></p>
                                        <p class="title"><a href="{{ banner.link }}">{{ banner.titular }}</a></p>
                                        <p class="summary"><a href="{{ banner.link }}">{{ banner.texto | slice(0,500) }}</a></p>
                                        <div class="seeall"></div>
                                        <div class="link"><a href="{{ banner.link }}"><span></span></a></div>
                                        <div class="link"><a href="{{ banner.link }}"><span></span></a></div>
                                        <div class="link"><a href="{{ banner.link }}"><span></span></a></div></div>
                                </div>
                            </li>
                        {% endfor %}

                        </ul>

                        <ul class="navigationGallery">
                        {% for banner in banners %}
                            <li class=""> <div class="navigationGalleryItem">
                                    <div class="galleryThumbnail"><a href="{{ banner.link }}"><img alt="innovation matters" src="{{ asset(banner.getWebPath)}}"></a></div>
                                    <div class="caption"><a href="{{ banner.link }}"><strong></strong></a><a href="{{ banner.link }}">{{ banner.titular }}</a></div>
                                </div> </li>
                        {% endfor %}

                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">

            <!----------------------------------------Aqui va el espacio de Twitter--------------------------------------->
            <div class="tx-cw-twitter">
                <div class="twitterWrapper">
                    <div class="twitterWrapperBg">
                        <div class="twitterBtnBox"><a href="https://twitter.com/egaussholding" target="_top" class="twitterWrapperBtn"><span>Twitter</span></a></div>
                        <div class="twitterPost">  <ul id="tweets">
                                <li class="" style="top: 32px; left: 0px;">No creo que en España abunden eventos como @GlobalImasT en el que simultáneamente, se compartan casos reales de tran
                                    <a target="_top" title="https://lnkd.in/e4RC96B" href="https://lnkd.in/e4RC96B">lnkd.in/e4RC96B</a>
                                    Vía <a target="_top" title="GlobalImasT" href="https://twitter.com/globalimast">@GlobalImasT</a></li>
                                <li class="" style="top: 32px; left: 0px;">Fundera, el agregador de subvenciones para tu empresa.
                                    <a target="_top" title="https://t.co/PMMnRGqce7" href="https://t.co/PMMnRGqce7">t.co/PMMnRGqce7</a>
                                    Vía <a target="_top" title="GlobalImasT" href="https://twitter.com/globalimast">@GlobalImasT</a></li>
                                <li class="" style="top: 32px; left: 0px;">El CIBER absorbe a once nuevos grupos de investigación.
                                    <a target="_top" title="https://t.co/0NSRlvEklv" href="https://t.co/0NSRlvEklv">t.co/0NSRlvEklv</a>
                                    Vía <a target="_top" title="GlobalImasT" href="https://twitter.com/globalimast">@GlobalImasT</a></li>
                                <li class="" style="top: 32px; left: 0px;">Aumenta al menos el 30 % la participación española en la feria tecnológica.
                                    <a target="_top" title="https://t.co/0NSRlvEklv" href="https://t.co/0NSRlvEklv">t.co/0NSRlvEklv</a>
                                    Vía <a target="_top" title="GlobalImasT" href="https://twitter.com/globalimast">@GlobalImasT</a></li>
                                <li class="" style="top: 32px; left: 0px;">¿inteligencia artificial?
                                    <a target="_top" title="https://t.co/oaabP5BLBx" href="https://t.co/oaabP5BLBx">t.co/oaabP5BLBx</a>
                                    Vía <a target="_top" title="Tendencias21" href="https://twitter.com/Tendencias21">@Tendencias21</a></li>



                            </ul> </div>
                    </div>
                </div>
            </div>

            <!--------------------------------------------------- Videos HOME ----------------------------------------------------->
            <div id="videoContentBox">
                {% for video in videos %}
                <div class="videoCol1">
                    <div class="videobox">{{ video.url | raw }}</div>

                </div>
                {% endfor %}


            </div>
            <!------------------------------------------------ Secciones Inferior ------------------------------------------------->

            <div class="colsHome">
                <!---------- Col1 ---------->
                <div class="col1Home">
                    <div class="colHomeBody">
                        <div class="homeBottomNewsBox">
                            <p class="title">Noticias del Global</p>
                            <div class="contentHomeBottomNewsBox  png_bg">
                                <div class="colsHome">
                                {% for noticia in noticias %}
                                <div class="row">
                                <div class="col s3 m3 l4">
                                <img class="responsive-img materialboxed" src="{{ asset(noticia.getWebPath) }}"/>
                                </div>
                                <div class="col s5 m5 l8">
                                 <p class="justify"> {{ noticia.fecha | date("Y-m-d")  }}</p>
                                 <a class="justify noticetitleindex" href=" {{ path("noticia", {"slug": noticia.slug}) }} "> {{ noticia.titular | slice(0,100) }} ...</a>
                                </div>
                                </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------- Col2 ---------->
                <div class="col2Home">
                    <div class="colHomeBody">
                        <div class="homeBottomNewsBox">
                            <p class="title">Global 2016</p>
                            <div class="contentHomeBottomNewsBox  png_bg">
                                <div class="colsHome">
                                    <p class="justify"> {{ global2016.texto | slice(0,1000) }}</p>
                                    <p class="justify alingleft" ><a class="link" href="{{ path("global2016") }}">Leer m&aacute;s</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------- Col3 ---------->
                <div class="col3Home">
                    <div class="colHomeBody">
                        <div class="homeBottomNewsBox">
                            <p class="title">Colaboradores</p>
                            <div class="contentHomeBottomNewsBox  png_bg">
                                <div class="colsHome" id="colaboradoreshome">
                                {{ render(controller('AppBundle:Default:colaboradoresHome')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!------->
        </div>
{%endblock body%}
{%block javascripts%}
{{ parent() }}
<script>

function loadColaboradores(){
 var url = "{{ path("colaboradoreshome") }}";
$("#colaboradoreshome").load(url,function() {
         });
    setTimeout(function(e){
    loadColaboradores();
}, 15000);

}
setTimeout(function(e){
    loadColaboradores();
}, 15000);
</script>
{% endblock %}