<div class="col s3 m12 l3 left">
    <span class="titlemenu">Global ImasT</span>
    <div id='cssmenu'>

        <ul>
            {% if active == "que_es_global" %}
            <li class="active"><a class="waves-effect waves-light" href='{{ path("que_es_global") }}'><span>¿Qué es Global?</span></a></li>
            {% else %}
                <li ><a class="waves-effect waves-light" href='{{ path("que_es_global") }}'><span>¿Qué es Global?</span></a></li>

            {% endif %}

            {% if active == "global2016" %}
            <li class="active"><a class="waves-effect waves-light" href='{{ path("global2016") }}'><span>Global 2016</span></a></li>
            {% else %}
                <li><a class="waves-effect waves-light" href='{{ path("global2016") }}'><span>Global 2016</span></a></li>

            {% endif %}

            {% if active == "noticias" %}
            <li class="active" ><a class="waves-effect waves-light" href='{{ path("noticias", {"owner": "Global ImasT"}) }}'><span>Noticias</span></a></li>
            {% else %}
                <li><a class="waves-effect waves-light" href='{{ path("noticias",{"owner": "Global ImasT"}) }}'><span>Noticias</span></a></li>
            {% endif %}
                    <li class='has-sub'><a href='#'><span>Estructura del Holding</span></a>
                        <ul>
                            <li><a class="waves-effect waves-light" href='#'><span>eGauss Innovation</span></a></li>
                            <li><a class="waves-effect waves-light" href='#'><span>Techtrans</span></a></li>
                            <li><a class="waves-effect waves-light" href='#'><span>H4DN</span></a></li>
                            <li class='last'><a class="waves-effect waves-light" href='#'><span>Fondos de Iversi&oacute;n</span></a></li>
                        </ul>
                    </li>
        </ul>
    </div>

</div>
