{%extends "::frontbase.html.twig"%}
{%block body%}



    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <div class="row">
                {% include 'AppBundle:App:menuLeftSobreGlobal.html.twig' with {"active":"misionvision"} %}
                <div class="col s7 m12 l6 left">
                    <h6 class="titlemenu" style="text-align: left !important; padding: 0.7em !important;">{{ entity.titulo }}</h6>
                    <div class="col s12 m12 l12 left">
                        <p style="text-align: justify;" >{{ entity.texto }}</p>
                    </div>
                </div>
                <div class="col s3 m12 l3">
                    <div class="video-container top10">
                        {{ entity.urlvideo | raw }}
                    </div>
                    <div class="row top10">
                        {{ render(controller('AppBundle:Default:archivos', { 'owner': "mision-vision" })) }}
                    </div>
                </div>
            </div>
        </div>
        </div>
{%endblock body%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/menu.js') }}" type="text/javascript"></script>
{% endblock %}