{% extends "::frontbase.html.twig" %}
{%block body%}
    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <!--Left-->
            <div class="row">
            {% include 'AppBundle:App:menuLeftGlobalImasT.html.twig' with {"active":"noticias"} %}

            <div class="col s7 m12 l6 left">
            <p class="titlemenupage">{{ entity.titular }}</p>

                                                <p class="justify"> {{ entity.fecha | localizeddate('full', 'medium', 'es')  }}</p>
                                                <p class="justify"> {{ entity.titular }}</p>
                                                <p class="justify">{{ entity.texto  }}</p>

                                            </div>





            </div>

            <div class="col s3 m12 l3">
            </div>
            </div>
        </div>
        </div>

{%endblock body%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/menu.js') }}" type="text/javascript"></script>
{% endblock %}