{%extends "::frontbase.html.twig"%}
{%block body%}
    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <!--Left-->
            <div class="row">
            {% include 'AppBundle:App:menuLeftGlobalImasT.html.twig' with {"active":"noticias"} %}

            <div class="col s7 m12 l6 left">
                    <h6 class="titlemenu" style="text-align: left !important; padding: 0.7em !important;">Noticias</h6>
                    {% for entity in entities %}
                                    <div class="row s12 m12 l12">
                                        <div class="card">
                                            <div class="col s6 m6 l4" style="margin-top: 1em;">
                                                <img src="{{ asset(entity.getWebPath()) }}" class="responsive-img materialboxed" />
                                            </div>
                                            <div class="card-content">
                                                <p class="justify"><b>Fecha:</b> {{ entity.fecha | date("Y-m-d")  }}</p>
                                                <p class="justify"><b>Titular:</b> {{ entity.titular }}</p>
                                                <p class="justify">{{ entity.texto | slice(0,200) }}</p>
                                                <p class="justify alingleft" ><a href="{{ path("noticia", {"owner": "Global ImasT","id": entity.id}) }}">Leer m&aacute;s</a></p>

                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}




            </div>

            <div class="col s3 m12 l3">
            </div>
            </div>
        </div>
        </div>

{%endblock body%}