{%extends "::frontbase.html.twig"%}
{%block body%}
    <style>
        iframe{
            height: 800px !important;
        }
    </style>
    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <!--Left-->
            <div class="row">
                {% include 'AppBundle:App:menuLeftGlobalImasT.html.twig' with {"active":"noticiasglobal"} %}

                <div class="col s7 m12 l6 left">
                    <h6 class="titlemenu" style="text-align: left !important; padding: 0.7em !important;">Noticias Global ImasT</h6>
                    {% if entities | length > 0 %}
                        {% for entity in entities %}
                            <div class="row s12 m12 l12 resultSearchItem">

                                <div class="col s6 m6 l3" style="margin-top: 1em;">
                                    <img src="{{ asset(entity.getWebPath()) }}" class="responsive-img materialboxed" />
                                </div>

                                <p class="justify"> {{ entity.fecha | date("Y-m-d") }}</p>
                                <p class="justify noticetitle"> {{ entity.titular }}</p>
                                <div id="texto">
                                    <p class="justify">{{ entity.texto | striptags | slice(0,300) | raw }}</p>
                                </div>
                                <p class=" justify alingleft" ><a class="link" href="{{ path("noticiaglobal", {"slug": entity.slug}) }}">Leer m&aacute;s</a></p>

                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="noresult">
                            <h6 style="text-align: left; padding: 1em; color: #e23337 !important;"><i class="mdi-action-info-outline"></i> Estamos trabajando para poner contenidos.</h6>

                        </div>
                    {% endif %}




                </div>

                <div class="col s3 m12 l3">
                    {% include "AppBundle:App:twitter.html.twig" %}
                </div>
            </div>
        </div>
    </div>

{%endblock body%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/menu.js') }}" type="text/javascript"></script>
{% endblock %}