{%extends "::frontbase.html.twig"%}
{%block body%}
    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <!--Left-->
            <div class="row">
            {% include 'AppBundle:App:menuLeftSobreGlobal.html.twig' with {"active":"quienessomos"} %}

            <div class="col s7 m12 l6 left">
                    <h6 class="titlemenu" style="text-align: left !important; padding: 0.7em !important;">{{ entity.titulo }}</h6>

                        <div class="col s12 m12 l12 left">
                            <img class="responsive-img materialboxed" src="{{ asset(entity.getThumbnailMedium()) }}">
                            <h6 class="btnNav" style="text-align: left !important; padding: 0.7em !important;">EQUIPO EGAUSS</h6>
                        </div>


                        <div class="col s12 m12 l12 left top10">
                            <h6 class="btnNav" style="text-align: left !important; padding: 0.7em !important;">Nuestro Consejo de Administraci&oacute;n</h6>
                            {% for member in members %}

                                    <div class="row s12 m12 l12">
                                        <div class="card">
                                            <div class="row" style="margin-bottom: 0px !important;">
                                                <div class="col s6 m6 l2 left">
                                                    <img src="{{ asset(member.getThumbnail()) }}" class="responsive-img materialboxed" />
                                                </div>
                                                <div class="col s6 m6 l6 left">
                                                    <h6 class="btnNav top10" style="text-align: left !important;">{{ member.getFullName()  }}</h6>
                                                </div>
                                                <div class="col s6 m6 l2 right top10">
                                                    <a href="{{ member.urlLinkedin }}"><i class="iconLinkedin right-align"></i></a>
                                                </div>


                                            </div>

                                            <div class="card-content">
                                                <p class="justify">{{ member.getDescripcion() }}</p>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                        </div>

            </div>

            <div class="col s3 m12 l3">
                <h2 class="content-txt-img"></h2>
                {{ render(controller('AppBundle:Default:videos', { 'owner': "quienes-somos" })) }}
                <div class="row top10">
                    {{ render(controller('AppBundle:Default:archivos', { 'owner': "quienes-somos" })) }}
                </div>
            </div>
            </div>
        </div>
        </div>

{%endblock body%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/menu.js') }}" type="text/javascript"></script>
{% endblock %}