{%extends "::frontbase.html.twig"%}
{%block body%}
    <!----------------------------------------------------Centre-------------------------------------------------->
    <div class="wrapperCenter">
        <div class="mainContentWrapper">
            <!--Left-->
            <div class="row">
            {% include 'AppBundle:App:menuLeftSobreGlobal.html.twig' with {"active":"quienessomos"} %}

            <div class="col s7 m12 l6 left">
                    <h6 class="titlemenu" style="text-align: left !important; padding: 0.7em !important;">{{ entity.titulo }}</h6>

                        <div class="col s12 m12 l12 left">
                            <img class="responsive-img materialboxed" src="{{ asset(asset(entity.getWebPath)) }}">
                        </div>


                        <div class="col s12 m12 l12 left">
                            <h6 class="btnNav" style="text-align: left !important; padding: 0.7em !important;">Nuestro Consejo de Administraci&oacute;n</h6>
                            {% for member in members %}
                            {#<div class="row s12 m12 l12">
                                <div class="col s6 m6 l2 left">
                                    <img src="{{ asset(member.getWebPath()) }}" class="responsive-img materialboxed" />
                                </div>
                                <div class="col s10 m10 l10 left">
                                    <h6 class="btnNav" style="text-align: left !important;">{{ member.getFullName()  }}</h6>
                                    <p class="alingleft justify">{{ member.getDescripcion() }}</p>
                                    <p class="alingleft padding10"> <a href="{{ member.urlLinkedin }}"> {{ member.urlLinkedin }}</a></p>
                                </div>
                            </div>#}

                                    <div class="row s12 m12 l12">
                                        <div class="card">
                                            <div class="col s6 m6 l2 left">
                                                <img src="{{ asset(member.getWebPath()) }}" class="responsive-img materialboxed" />
                                            </div>
                                            <div class="card-content">
                                                <h6 class="btnNav" style="text-align: left !important;">{{ member.getFullName()  }}</h6>
                                                <p class="justify">{{ member.getDescripcion() }}</p>
                                            </div>
                                            <div class="card-action">
                                                <i class="iconLinkedin"></i><a href="{{ member.urlLinkedin }}">{{ member.urlLinkedin }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>




            </div>

            <div class="col s3 m12 l3">
            </div>
            </div>
        </div>
        </div>

{%endblock body%}