


    <!--start container-->
    <div class="container">
        <p><a class="btn waves-effect waves-light indigo actiontab" href="#" url="{{ path("_evento_new", {"owner": owner}) }}">Registrar</a></p>
        <div class="dataTables_wrapper">
            <table cellspacing="0" class="responsive-table display" id="data-table" width="100%">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Link</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Link</th>
                    <th>Acciones</th>
                </tr>
                </tfoot>
                <tbody>
                {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.fecha | date("Y-m-d") }}</td>
                    <td>{{ entity.link }}</td>

                    <td>
                        <a class="tooltipped btn-floating waves-effect waves-light grey actiontab" data-position="top" data-delay="50" data-tooltip="Modificar" href="#" url="{{ path("_evento_edit", {"id": entity.id, "owner": owner}) }}"><i class="mdi-editor-mode-edit"></i></a>
                        <a class="tooltipped btn-floating waves-effect waves-light red deletetab" data-position="top" data-delay="50" data-tooltip="Eliminar" href="#" url="{{ path("_evento_delete", {"id": entity.id}) }}"><i class="mdi-content-clear"></i></a>


                    </td>


                </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="divider"></div>
    </div>

    <script>

        $('.tooltipped').tooltip({delay: 10});
        $('#data-table').DataTable({
            "language": {
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _PAGE_ pagina de _PAGES_",
                "infoEmpty": "No existen registros",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Buscar",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Ultimo",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
            }
        });
        $(".actiontab").on("click", function(e){
            $('.tooltipped').tooltip('remove');
            $('.preloader-wrapper').addClass('active');
            var url = $(this).attr("url");
            $("#evento").load(url,function() {
                $('.preloader-wrapper').removeClass('active');
            });

        })

        $(".deletetab").on("click", function(){
            $('.preloader-wrapper').addClass('active');
            var url = $(this).attr("url");
            $.ajax({
                url: url,
                success: function(data){
                    var obj = jQuery.parseJSON(data);
                    Materialize.toast(obj.message, 10000);
                    $("#evento").load("{{ path('_evento', {"owner": owner}) }}",function() {
                        $('.preloader-wrapper').removeClass('active');
                    });
                }
            })
        })
    </script>
